@import "tailwindcss";

@theme {
  --color-primary-50: oklch(97% 0.014 301);
  --color-primary-100: oklch(93% 0.032 301);
  --color-primary-200: oklch(86% 0.063 301);
  --color-primary-600: oklch(52% 0.243 301);
  --color-primary-700: oklch(46% 0.233 301);
  --color-primary-800: oklch(38% 0.210 301);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
